.App {
  text-align: center;
}

.navbar {
  background-color: pink;
}

.login, .logout, .about, .start {
  margin: 10px;
  padding: 10px
}

navbar {
  padding: 20px;
}

.cardgrid {
  align-items: stretch; 
  /* grid-template-columns: 12px 12px 12px; */
  /* grid-template-rows: 12px 12px 12px;  */

  display: inline-grid;
  grid-template-columns: auto 5000px  auto auto;
  grid-template-rows: auto;
  grid-gap: 50px;
  padding: 30px;
  width: 300px
}

/* .cardgrid > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  margin: 10px;
} */

/* .cardgrid > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  margin: 10px;
} */

.backimg {
  height: 300px;
  width: 300px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
  padding: 50px
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: pink;
  color:  black;
  transform: rotateY(180deg);
}


