.App {
  text-align: center;
}

.navbar {
  background-color: pink;
}

.login, .logout, .about, .start {
  margin: 10px;
  padding: 10px
}

navbar {
  padding: 20px;
}

.cardgrid {
  /* align-items: stretch; */
  /* grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;  */

  display: inline-grid;
  grid-template-columns: auto 5000px  auto auto;
  /* grid-template-rows: auto; */
  grid-gap: 10px;
  padding: 30px;
  width: 300px
}

.cardgrid > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

.backimg {
  height: 336px;
  width: 336px;
}


